# Ignore all CSV files
*.csv

# Ignore CRC files
*.crc

# Ignore _SUCCESS files
_SUCCESS
._SUCCESS.crc

# Ignore part files with CRC extension
*.part-*.csv.crc

# Ignore all part files
*.part-*

# Ignore SQLite database files
*.db
*.sqlite
*.sqlite3

# Ignore MySQL and PostgreSQL dump files
*.sql

# Ignore macOS .DS_Store files
*.DS_Store
.DS_Store
.idea
.ipynb_checkpoints
.DS_Store

secrets.env

__pycache__

# ignore .env
.env
.venv
venv
# ignore docker-compose.yaml
# docker-compose.yaml

# ignore log files
*.log

*.gz
#log
logs
#Ignore python environment (CONDA)
.conda

#adding it for secrets
.env

# Ignore model output directories
saved_model/
saved_roberta_model/
roberta_ouput/

# Ignore any HDF5 files
*.h5

# Ignore any temporary files
*.tmp

# Ignore model files
*.pth
*.pt
*.safetensors
*.bin
merges.txt
trainer_state.txt
special_tokens_map.json
tokenizer_config.json
vocab.json