# Ignore all CSV files
*.csv

# Ignore CRC files
*.crc

# Ignore _SUCCESS files
_SUCCESS
._SUCCESS.crc

# Ignore part files with CRC extension
*.part-*.csv.crc

# Ignore all part files
*.part-*

# Ignore SQLite database files
*.db
*.sqlite
*.sqlite3

# Ignore MySQL and PostgreSQL dump files
*.sql

# Ignore macOS .DS_Store files
*.DS_Store
.DS_Store
.idea
.ipynb_checkpoints
__pycache__

# ignore .env
.env

# ignore log files
*.log

*.gz